.content-container {
  background: #fff;
  width: 90%;
  margin: 10px auto;
  border-radius: 8px;
  height: max-content;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}