.marbtm20 .emoji-mart {
    position: absolute;
    top: 117px;
    right: 30px;
    background-color: #fff;
    z-index: 999;
}

.hash-detail {
    padding-left: 11px;
    font-family: 'monospace';
    font-size: 14px;
    color: #ff7400;
    margin-bottom: 4px;
}

.hash-detail .hashnamedetail {
    color: black;
    font-weight: bold;
}

.describe {
    font-size: 11px;
    padding-left: 7px;
}
