.mySlides {
	display: none;
}

.w3-animate-top {
	position: relative;
	animation: animatebottom 0.4s;
}

@keyframes animatebottom {
	from {
		top: -300px;
		opacity: 0;
	}

	to {
		top: 0;
		opacity: 1;
	}
}

.w3-animate-left {
	position: relative;
	animation: animateleft 0.4s;
}

@keyframes animateleft {
	from {
		left: -300px;
		opacity: 0;
	}

	to {
		left: 0;
		opacity: 1;
	}
}

.w3-animate-bottom {
	position: relative;
	animation: animatebottom 0.4s;
}

@keyframes animatebottom {
	from {
		bottom: -300px;
		opacity: 0;
	}

	to {
		bottom: 0;
		opacity: 1;
	}
}

.w3-animate-right {
	position: relative;
	animation: animateright 0.4s;
}

@keyframes animateright {
	from {
		right: -300px;
		opacity: 0;
	}

	to {
		right: 0;
		opacity: 1;
	}
}

.w3-section {
	max-width: 208px;
	height: 362px;
	overflow: hidden;
	margin-left: 49px;
	margin-top: 52px;
}

img.mySlides {
	max-width: 208px;
	height: 362px;
}

.terms {
	margin: 0px 5px;
	color: rgb(47, 65, 87);
	border-bottom: 1px solid;
	font-weight: 600;
}

.radio-mode {
	padding-left: 15px;
	color: white;
}

.radio-mode label {
	margin-right: 10px;
}

.no-bottom-border {
	border-bottom: none !important;
}

.popup-container {
	position: absolute;
	height: calc(100vh - 60px);
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.popup-block {
	display: block;
	cursor: pointer;
	position: fixed;
	width: calc(100% - 40px);
	margin: 0 auto;
	left: 20px;
	right: 20px;
	border: 1px solid #000;
	z-index: 99999;
	background-color: #fff;
}

.popup-option {
	display: block;
	color: #000;
	font-size: 14px;
	font-family: Montserrat_Bold;
	text-align: center;
	margin-top: 10px;
	border-bottom: 1px solid #777;
	padding: 15px;
	margin-bottom: 10px;
	text-transform: none;
	letter-spacing: 1px;
}

.terms-privacy-list {
	padding-left: 22px;
}
/* facebook button */
.kep-login-facebook {
	padding: 7px !important;
	border-radius: 5px !important;
	font-family: 'Source Sans Pro', sans-serif !important;
	font-size: 16px !important;
	text-transform: uppercase !important;
	letter-spacing: 2px !important;
	font-weight: normal !important;
}
svg {
	display: none;
}
.googlebtnlogin {
	padding: 0px !important;
	border-radius: 5px !important;
	background-color: red !important;
	color: white !important;
	box-shadow: none !important;
	width: max-content;
	padding-left: 10px !important;
	/* margin-top: 5px !important;  */
	font-family: 'Source Sans Pro', sans-serif !important;
	font-size: 16px !important;
	text-transform: uppercase !important;
	letter-spacing: 2px !important;
	font-weight: normal !important;
}
.googlebtnlogin > div {
	display: none !important;
}
